# Node
node_modules
npm-debug.log
yarn-error.log
pnpm-lock.yaml
.vscode
.DS_Store

# Build output (don't copy local dist unless you want it)
dist
build

# Git + metadata
.git
.gitignore

# Local env files (don't embed secrets)
.env
.env.local
.env.development
.env.test
.env.*.local

# OS files
Thumbs.db
desktop.ini

# IDE / editors
.idea
.vscode

# other
coverage
*.log
